h1, p {
    text-align: center;
    font-family: sans-serif;
}

#map {
    margin: 0 auto;
    height: 550px; /* Increased height for better visibility */
    width: 90%;  
    border: 2px solid #ccc;
    border-radius: 8px;
}