
h1, p {
    text-align: center;
    font-family: sans-serif;
}

#map {
    margin: 0 auto;
    height: 90vh; /* height is 90% of the window height. Adapts to portrait/landscape mode */
    width: 90vw;  /* width is 90% of the window width. Adapts to portrait/landscape mode */
    border: 2px solid #ccc;
    border-radius: 8px;
}

body {
    background-color: #dbeafe;
    color: #1e293b;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark {
    background-color: #172554;
    color: white;
}